@CHARSET "UTF-8";
body {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	position: relative;
}

.fbphotobox img {
	max-width: 400px;
	max-height: 400px;
}

.fbphotobox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

.fbphotobox-fc-main-container {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 400;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	display: none;
}

.fbphotobox-fc-main-container:hover {
	cursor: pointer;
}

.fbphotobox-main-container {
	margin:auto;
	display:none;
	position:fixed;
	z-index: 200;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
}

.fbphotobox-container {
	background-color: black;
	position: relative;
}

.fbphotobox-container-left {
	width: 520px;
	height: 520px;
	float: left;
	opacity: 1;
	position: relative;
}

.fbphotobox-container-left:hover {
	cursor: pointer;
}

.fbphotobox-container-left img {
	max-width: 100%;
	max-height: 514px;
}

.fbphotobox-container-left table td {
	text-align: center;
	vertical-align: middle;
	height: 100%
}

.fbphotobox-container-right {
	width: 360px;
	height: 520px;
	float: right;
	background-color: white;
	opacity: 1;
}

.fbphotobox-container-left-footer, .fbphotobox-container-left-footer-bg {
	position: absolute;
	color: white;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.fbphotobox-container-left-footer {
	z-index: 300;
}

.fbphotobox-container-left-footer-bg {
	background-color: black;
	opacity: 0.75;
	height: 56px;
}

.fbphotobox-container-left-header {
	top: 0px;
	right: 0px;
	margin: 15px;
	position: absolute;
	color: white;
}

.left-arrow {
	position: absolute;
	height: 100%;
	left: 20px;
	top: 0px;
}

.right-arrow {
	position: absolute;
	height: 100%;
	right: 20px;
	top: 0px;
}

.fbphotobox-a {
	opacity: 0.5;
}

.fbphotobox-image-stage-overlay {
	display: none;
}

.fbphotobox-tag {
	height:100px;
	width:100px;
	border-radius:3px;
	opacity: 1;
}

.fbphotobox-tag div {
	display: none;
	position: relative;
	padding: 2px 4px;
}

.fbphotobox-tag:hover {
	border:4px solid white;
	box-shadow: 0px 0px 5px #333;
}

.fbphotobox-tag:hover div {
	display: inline-block;
}

table, tr, td {
	border:none;
	padding:0px;
	border-collapse: collapse;
}

.fbphotobox-fc-footer, .fbphotobox-fc-header {
	color: white;
}